In [13]:
import pymongo
import pandas as pd
import json

In [14]:
# Create connection variable
conn = 'mongodb://localhost:27017'
# Pass connection to the pymongo instance.
client = pymongo.MongoClient(conn)
# Connect to a database. Will create one if not already available.
db = client.jobs_db

In [11]:
State = ''

In [15]:
jobs_data = list(db.jobs_glassdoor.find())
df = pd.DataFrame(jobs_data)
df = df.drop(['_id'], axis=1)
df = df.drop_duplicates(keep = 'first')
# df = df.loc[df["Avg Salary"] > 0 ]
if (State != ""):
        df = df.loc[df["State"] == State]
df

,Avg Salary,City,Company,Designation,Max Salary,Min Salary,Source,State,Title
0,79.5,Baltimore,T. Rowe Price,Data Analyst,90.0,69.0,Glassdoor,MD,Data Analyst
1,79.5,Plano,Bank of America,Data Analyst,91.0,68.0,Glassdoor,TX,Data Analyst
2,59.5,Dallas,Freeman,Data Analyst,73.0,46.0,Glassdoor,TX,Analyst
3,62.5,Peachtree City,SMC 3,Data Analyst,72.0,53.0,Glassdoor,GA,Data Analyst
4,NaN,Asheville,"GPM, Corp",Data Analyst,NaN,NaN,Glassdoor,NC,Business Data Analyst
5,67.5,Fort Lauderdale,Trividia Health,Data Analyst,78.0,57.0,Glassdoor,FL,Data Analyst
6,65.0,Sacramento,UC Davis Health,Data Analyst,74.0,56.0,Glassdoor,CA,Research Data Analyst
7,NaN,Wytheville,PILLAR Inc.,Data Analyst,NaN,NaN,Glassdoor,VA,Data Analyst
8,70.5,Milwaukee,Northwestern Mutual,Data Analyst,80.0,61.0,Glassdoor,WI,Data Analyst
9,50.0,Denver,Computershare,Data Analyst,57.0,43.0,Glassdoor,CO,Data Analyst I
10,51.5,Colchester,Vermont Information Processing,Data Analyst,59.0,44.0,Glassdoor,VT,Data Quality Analyst
11,107.0,Sunnyvale,Walmart eCommerce,Data Analyst,123.0,91.0,Glassdoor,CA,Data Analyst
12,60.0,Richmond,EAB,Data Analyst,73.0,47.0,Glassdoor,VA,Data Integration Analyst
13,117.0,Agoura Hills,PennyMac,Data Analyst,124.0,110.0,Glassdoor,CA,Data Engineer
14,61.5,Draper,"HealthEquity, Inc.",Data Analyst,71.0,52.0,Glassdoor,UT,Data Analyst
15,NaN,Newark,Marlette Funding,Data Analyst,NaN,NaN,Glassdoor,CA,Marketing Data Analyst
16,70.0,New York,MarketSearch,Data Analyst,80.0,60.0,Glassdoor,NY,"Data Analyst, Media Measurement"
17,110.0,San Francisco,Healthline Media,Data Analyst,127.0,93.0,Glassdoor,CA,Business Intelligence Data Analyst
18,58.0,Rocklin,American Pacific Mortgage,Data Analyst,66.0,50.0,Glassdoor,CA,Data Analyst
19,NaN,Jupiter,Smith Hanley Associates,Data Analyst,NaN,NaN,Glassdoor,FL,Data Analyst
20,NaN,Miami Lakes,American Bancshares Mortgage,Data Analyst,NaN,NaN,Glassdoor,FL,Senior Data Analyst
21,NaN,Chicago,United Airlines,Data Analyst,NaN,NaN,Glassdoor,IL,Senior Analyst - Data Analytics
22,57.0,Charlotte,Investor Management Services,Data Analyst,66.0,48.0,Glassdoor,NC,Data Analyst
23,NaN,Beaverton,VanderHouwen,Data Analyst,NaN,NaN,Glassdoor,OR,Data Analyst
24,77.5,Arlington,Planned Systems International,Data Analyst,89.0,66.0,Glassdoor,VA,Data Analyst
25,53.0,Redmond,Pactera,Data Analyst,61.0,45.0,Glassdoor,WA,Data Analyst
26,69.0,New York,Fareportal Inc.,Data Analyst,80.0,58.0,Glassdoor,NY,Data Analyst
27,44.0,Omaha,Professional Research Consultants,Data Analyst,50.0,38.0,Glassdoor,NE,CAHPS Data Analyst
28,141.5,San Jose,Affinity Solutions,Data Analyst,160.0,123.0,Glassdoor,CA,Senior Big Data Analyst
29,87.0,Burlington,Arcadia.io,Data Analyst,98.0,76.0,Glassdoor,MA,Sr. Technical Data Analyst
...,...,...,...,...,...,...,...,...,...
155,121.0,Ann Arbor,Sartorius,Data Scientist,141.0,101.0,Glassdoor,MI,Principal Scientist
156,NaN,Cleveland,AmerisourceBergen,Data Scientist,NaN,NaN,Glassdoor,MS,Scientist
157,117.0,Agoura Hills,PennyMac,Data Scientist,124.0,110.0,Glassdoor,CA,Data Engineer
158,NaN,United States,Mutual of Omaha,Data Scientist,NaN,NaN,Glassdoor,United States,Associate Data Scientist
159,125.5,Morrisville,Valassis Digital,Data Scientist,150.0,101.0,Glassdoor,NC,Data Scientist II
160,104.5,Malvern,Vanguard,Data Scientist,127.0,82.0,Glassdoor,PA,Research Data Scientist
161,151.5,New York,Jackson Lewis,Data Scientist,183.0,120.0,Glassdoor,NY,Data Scientist
162,NaN,Cambridge,Hopper,Data Scientist,NaN,NaN,Glassdoor,MA,Data Scientist
163,148.0,New York,Point72,Data Scientist,179.0,117.0,Glassdoor,NY,Data Scientist - Healthcare Investment Team
164,160.0,Mill Valley,Glassdoor,Data Scientist,184.0,136.0,Glassdoor,CA,"Senior Data Scientist, Decision Science"
165,108.5,Houston,PROS,Data Scientist,127.0,90.0,Glassdoor,TX,Data Scientist (EG)
166,156.5,Cambridge,CarGurus,Data Scientist,182.0,131.0,Glassdoor,MA,Senior Data Scientist
167,66.5,Huntington Station,GEI Consultants Inc,Data Scientist,78.0,55.0,Glassdoor,NY,Environmental Scientist/Geologist/Engineer
168,NaN,Columbia,C2G Partners,Data Scientist,NaN,NaN,Glassdoor,MD,Data Science All Stars Program
169,NaN,Pawtucket,Encore Fire Protection,Data Scientist,NaN,NaN,Glassdoor,RI,Data Scientist
170,215.0,Malvern,Vanguard,Data Scientist,250.0,180.0,Glassdoor,PA,Principal Data Scientist
171,106.0,Albuquerque,Intel,Data Scientist,124.0,88.0,Glassdoor,NM,Data Scientist
172,92.5,Loma Linda,Loma Linda University Medical Center,Data Scientist,108.0,77.0,Glassdoor,CA,Clinical Lab Scientist
173,213.0,San Bruno,Walmart eCommerce,Data Scientist,245.0,181.0,Glassdoor,CA,Principal Data Scientist
174,230.0,San Francisco,Tapjoy,Data Scientist,266.0,194.0,Glassdoor,CA,Staff Data Scientist
175,122.0,Houston,Chase,Data Scientist,146.0,98.0,Glassdoor,TX,Data Scientist
176,NaN,Northbrook,Peterson Technology Partners,Data Scientist,NaN,NaN,Glassdoor,IL,Data Scientist/Engineer
177,96.5,San Diego,Motive Interactive,Data Scientist,114.0,79.0,Glassdoor,CA,Data Scientist
178,135.0,Alpharetta,Verizon,Data Scientist,157.0,113.0,Glassdoor,GA,Data Scientist
179,130.0,Atlanta,Siemens PLC,Data Scientist,152.0,108.0,Glassdoor,GA,Data Scientist
180,164.0,Santa Clara,Ericsson-Worldwide,Data Scientist,191.0,137.0,Glassdoor,CA,Senior Machine Learning Engineer/Data Scientist
181,153.5,New York,S&P Global,Data Scientist,184.0,123.0,Glassdoor,NY,Senior Data Scientist
182,146.5,Chicago,CME Group,Data Scientist,172.0,121.0,Glassdoor,IL,Senior Regulatory Data Scientist
183,NaN,Annapolis Junction,Phoenix Operations Group,Data Scientist,NaN,NaN,Glassdoor,MD,Data Scientist - TS/SCI FSP or CI Required
184,NaN,Boston,"Syndic8 Data Management Services, LLC",Data Scientist,NaN,NaN,Glassdoor,MA,Senior Data Scientist

In [7]:
grp_city_df = df.groupby('City')
jobs_city_df = grp_city_df[["City"]].count()
jobs_city_df = jobs_city_df.rename(
    columns = {"City": "Jobs_Count"}
    ).sort_values(by='Jobs_Count', ascending=False).reset_index()
json_cities_jobs = jobs_city_df.to_json(orient='records')

In [8]:
json_cities_jobs

'[{"City":"San Francisco","Jobs_Count":10},{"City":"Agoura Hills","Jobs_Count":3},{"City":"Sunnyvale","Jobs_Count":3},{"City":"Santa Clara","Jobs_Count":2},{"City":"Loma Linda","Jobs_Count":2},{"City":"San Mateo","Jobs_Count":2},{"City":"San Jose","Jobs_Count":2},{"City":"Sacramento","Jobs_Count":1},{"City":"Scotts Valley","Jobs_Count":1},{"City":"Santa Ana","Jobs_Count":1},{"City":"San Diego","Jobs_Count":1},{"City":"San Bruno","Jobs_Count":1},{"City":"Rocklin","Jobs_Count":1},{"City":"Anaheim","Jobs_Count":1},{"City":"Oakland","Jobs_Count":1},{"City":"Newark","Jobs_Count":1},{"City":"Mill Valley","Jobs_Count":1},{"City":"Menlo Park","Jobs_Count":1},{"City":"Los Angeles","Jobs_Count":1},{"City":"Irvine","Jobs_Count":1},{"City":"El Cajon","Jobs_Count":1},{"City":"Burlingame","Jobs_Count":1},{"City":"Walnut Creek","Jobs_Count":1}]'

In [16]:
grp_df = df.groupby('Company')

In [20]:
sal_df = grp_df[['Avg Salary']].mean()
sal_df.sort_values(by='Avg Salary', ascending=False).reset_index()

                                    Company  Avg Salary
0                                    Tapjoy      230.00
1                                   Attivio      197.00
2                                    Akamai      180.50
3                         Walmart eCommerce      177.25
4                                    Stripe      174.00
5                        Ericsson-Worldwide      164.00
6                                 Glassdoor      160.00
7                                  Vanguard      159.75
8                                 Robinhood      159.50
9                                     Slack      158.00
10                              Pluralsight      157.50
11                                 CarGurus      156.50
12                               TrueAccord      156.50
13                          Rent the Runway      155.00
14                               S&P Global      153.50
15                            Jackson Lewis      151.50
16                       Puget Sound Energy      149.50
17              Seattle Children's Hospital      149.00
18                                  Point72      148.00
19                                FM Global      147.00
20                                CME Group      146.50
21                                   Kensho      143.50
22                                 Fanatics      143.50
23                       Affinity Solutions      141.50
24                             Intent Media      140.00
25                                   Amazon      139.50
26                                      NPD      138.50
27                                  Cummins      135.00
28                                  Verizon      135.00
29   Spectrum Communications and Consulting      134.50
..                                      ...         ...
131                     BioSoft Integrators         NaN
132                            C2G Partners         NaN
133  Central California Alliance for Health         NaN
134                  Encore Fire Protection         NaN
135                                 Everlaw         NaN
136                Frontier Technology, Inc         NaN
137                               GPM, Corp         NaN
138              HUNTER Technical Resources         NaN
139                                  Hopper         NaN
140                               LK Jordan         NaN
141                         Liberty Lending         NaN
142                        Marlette Funding         NaN
143                                 Mastech         NaN
144                         Mutual of Omaha         NaN
145                NYC Data Science Academy         NaN
146                             Oh My Green         NaN
147                             PILLAR Inc.         NaN
148            Peterson Technology Partners         NaN
149                Phoenix Operations Group         NaN
150                                   Plaid         NaN
151                                Powerley         NaN
152                                 Precima         NaN
153                             Radius Bank         NaN
154                 Sammons Financial Group         NaN
155                 Smith Hanley Associates         NaN
156   Syndic8 Data Management Services, LLC         NaN
157                       Trillium Staffing         NaN
158                         United Airlines         NaN
159                            VanderHouwen         NaN
160                                    Viwa         NaN

[161 rows x 2 columns]

In [26]:
json_data = []
items = ["State"] #, "City", "Company"]
for item in items:
    
    grp_df = df.groupby(item)
    sal_df = grp_df[['Avg Salary']].mean()
    job_df = grp_df[[item]].count().rename(columns = {item: "Jobs Count"})
    merged_table = pd.merge(sal_df, job_df, on= item)
    merged_table = merged_table.sort_values(by=['Jobs Count', 'Avg Salary'], ascending=False).head(20).reset_index()
    
    item_list = []
    sal_list = []
    count_list = []
    item_dict = {}
    for index, row in merged_table.iterrows() :
       # item_list.append(f"{row[item]}") 
       # sal_list.append(row['Avg Salary']) 
       # count_list.append(row['Jobs Count']) 
        item_dict = {"name": row[item],
                     "hours": row['Avg Salary']}
        json_data.append(item_dict)

In [27]:
# json_data = json_data.replace('"', "'") 
# json.dumps(json_data)

'[{"name": "CA", "hours": 124.20588235294117}, {"name": "NY", "hours": 110.78125}, {"name": "MA", "hours": 110.96666666666667}, {"name": "TX", "hours": 86.65}, {"name": "WA", "hours": 114.4375}, {"name": "VA", "hours": 94.35714285714286}, {"name": "FL", "hours": 75.21428571428571}, {"name": "IL", "hours": 98.25}, {"name": "MI", "hours": 123.5}, {"name": "PA", "hours": 128.33333333333334}, {"name": "GA", "hours": 109.16666666666667}, {"name": "NC", "hours": 101.16666666666667}, {"name": "MN", "hours": 102.75}, {"name": "VT", "hours": 91.25}, {"name": "CO", "hours": 75.0}, {"name": "OR", "hours": 70.5}, {"name": "RI", "hours": 147.0}, {"name": "IN", "hours": 135.0}, {"name": "CT", "hours": 111.5}, {"name": "NM", "hours": 106.0}]'