In [14]:
from splinter import Browser
from bs4 import BeautifulSoup
from time import sleep
import pandas as pd
import pymongo

In [15]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [16]:
# Define database and collection
db = client.jobs_db
db.jobs_glassdoor.drop()
jobs_glassdoor_mongo = db.jobs_glassdoor

In [17]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [18]:
job_category = "Data Analyst"
region = "United States"
posted_time = "7"

glassdoor_url = 'https://www.glassdoor.com/Job/jobs.htm?sc.keyword=' + job_category + \
"&locT=N&locId=1&locKeyword=" + region + "&jobType=all&fromAge=" + posted_time + \
"&minSalary=0&includeNoSalaryJobs=true&radius=-1&cityId=-1&minRating=0.0&industryId=-1" +\
"&companyId=-1&applicationType=0&employerSizes=0&remoteWorkType=0"

browser.visit(glassdoor_url)

In [19]:
job_dict = {}

In [20]:
job_counter = 1
#for x in range(1, 2):
        
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

job_section = soup.find('ul', class_='jlGrid')

job_list = job_section.find_all('li', class_='jl')

for job in job_list:
    try:
        job_title = job.find('div', class_='jobTitle').a.text            
    except AttributeError:
        pass
    try:
        company = job.find('div', class_='empLoc').text.split("â€“")        
    except AttributeError:
        pass
    try:
        location = job.find('div', class_='empLoc').span.text.split(", ")          
    except AttributeError:
        pass
    try:
        salary = job.find('span', class_="green").text.replace("(Glassdoor Est.)", "")
    except AttributeError:
        salary = ""
    print('job no.:', job_counter, '-------------')
    job_counter +=1
    print("Job Title: ", job_title)
    print("Company: ", company[0])
    print("City: ", location[0])
    print("State: ", location[-1])
    print("Salary: ", salary)

    job_dict = {"Title": job_title,
                "Company": company[0],
                "City": location[0],
                "State": location[-1],
                "Designation": job_category,
                "Salary": salary,
                "Source": "Glassdoor"
                }
    jobs_glassdoor_mongo.insert_one(job_dict)
        
#    try:
#        browser.click_link_by_partial_text('Next')
    # If a pop-up window opens, close    
#   except:
#       browser.find_by_id('JAModal').first.click()

job no.: 1 -------------
Job Title Data Analyst
Company  T. Rowe Price
City Baltimore
State MD
Salary  $69k-$90k
job no.: 2 -------------
Job Title Data Analyst
Company  GameChanger
City United States
State United States
Salary
job no.: 3 -------------
Job Title Data Analyst
Company  Trividia Health
City Fort Lauderdale
State FL
Salary  $57k-$78k
job no.: 4 -------------
Job Title Data Analyst
Company  SMC 3
City Peachtree City
State GA
Salary  $53k-$72k
job no.: 5 -------------
Job Title Data Analyst
Company  Walmart eCommerce
City Sunnyvale
State CA
Salary  $91k-$123k
job no.: 6 -------------
Job Title Business Data Analyst
Company  GPM, Corp
City Asheville
State NC
Salary
job no.: 7 -------------
Job Title Data Analyst, Media Measurement
Company  MarketSearch
City New York
State NY
Salary  $60k-$80k(Employer Est.)
job no.: 8 -------------
Job Title APCD Data Analyst
Company  Freedman Healthcare
City Cranston
State RI
Salary
job no.: 9 -------------
Job Title Data Analyst
Company  nference
City Cambridge
State MA
Salary
job no.: 10 -------------
Job Title Data Analyst
Company  Northwestern Mutual
City Milwaukee
State WI
Salary  $61k-$80k
job no.: 11 -------------
Job Title Business Data Analyst
Company  Advance Financial
City Nashville
State TN
Salary  $45k-$65k
job no.: 12 -------------
Job Title Data Analyst
Company  Brightree
City Lawrenceville
State GA
Salary  $54k-$73k
job no.: 13 -------------
Job Title Business Intelligence Data Analyst
Company  Healthline Media
City San Francisco
State CA
Salary  $93k-$127k
job no.: 14 -------------
Job Title Data Analyst SmartHealth
Company  Ascension
City Austin
State TX
Salary  $55k-$74k
job no.: 15 -------------
Job Title Data Integration Analyst
Company  EAB
City Richmond
State VA
Salary  $47k-$73k
job no.: 16 -------------
Job Title Junior Data Analyst
Company  IronEdge Group
City Houston
State TX
Salary
job no.: 17 -------------
Job Title Data Analyst
Company  Smith Hanley Associates
City Jupiter
State FL
Salary
job no.: 18 -------------
Job Title Data Analyst
Company  VanderHouwen
City Beaverton
State OR
Salary
job no.: 19 -------------
Job Title Data Analyst, Search
Company  ezCater
City Boston
State MA
Salary  $58k-$78k
job no.: 20 -------------
Job Title Data Analyst
Company  Pactera
City Redmond
State WA
Salary  $45k-$61k
job no.: 21 -------------
Job Title Data Analyst
Company  Hopper
City Cambridge
State MA
Salary
job no.: 22 -------------
Job Title Data Analyst
Company  Urban Airship
City Portland
State OR
Salary  $62k-$85k
job no.: 23 -------------
Job Title Data Analyst
Company  Facing History and Ourselves, Inc
City Brookline
State MA
Salary  $51k-$70k
job no.: 24 -------------
Job Title Data Analyst
Company  First Republic Bank
City San Francisco
State CA
Salary  $72k-$95k
job no.: 25 -------------
Job Title Data Analyst
Company  NCSA - Next College Student Athlete
City Chicago
State IL
Salary  $53k-$72k
job no.: 26 -------------
Job Title Analyst, Data Analytics
Company  CMI Media LLC
City New York
State NY
Salary
job no.: 27 -------------
Job Title Data/ Strategic Analyst
Company  Convergent
City Houston
State TX
Salary
job no.: 28 -------------
Job Title Data Analyst
Company  Fareportal Inc.
City New York
State NY
Salary  $58k-$80k
job no.: 29 -------------
Job Title Provider Network Data Analyst
Company  Affinity Health Plan
City Bronx
State NY
Salary  $58k-$79k
job no.: 30 -------------
Job Title Data Support & Solutions Analyst
Company  Remedy Partners
City Norwalk
State CT
Salary

In [21]:
browser.quit()

In [22]:
jobs_glassdoor_listing = db.jobs_glassdoor.find()
for listing in jobs_glassdoor_listing:
    print(listing)

{'_id': ObjectId('5c05e8db0ea05e6ae0cb5d60'), 'Title': 'Data Analyst', 'Company': ' T. Rowe Price ', 'City': 'Baltimore', 'State': 'MD', 'Designation': 'Data Analyst', 'Salary': ' $69k-$90k', 'Source': 'Glassdoor'}
{'_id': ObjectId('5c05e8db0ea05e6ae0cb5d61'), 'Title': 'Data Analyst', 'Company': ' GameChanger ', 'City': 'United States', 'State': 'United States', 'Designation': 'Data Analyst', 'Salary': '', 'Source': 'Glassdoor'}
{'_id': ObjectId('5c05e8db0ea05e6ae0cb5d62'), 'Title': 'Data Analyst', 'Company': ' Trividia Health ', 'City': 'Fort Lauderdale', 'State': 'FL', 'Designation': 'Data Analyst', 'Salary': ' $57k-$78k', 'Source': 'Glassdoor'}
{'_id': ObjectId('5c05e8db0ea05e6ae0cb5d63'), 'Title': 'Data Analyst', 'Company': ' SMC 3 ', 'City': 'Peachtree City', 'State': 'GA', 'Designation': 'Data Analyst', 'Salary': ' $53k-$72k', 'Source': 'Glassdoor'}
{'_id': ObjectId('5c05e8db0ea05e6ae0cb5d64'), 'Title': 'Data Analyst', 'Company': ' Walmart eCommerce ', 'City': 'Sunnyvale', 'State': 'CA', 'Designation': 'Data Analyst', 'Salary': ' $91k-$123k', 'Source': 'Glassdoor'}
{'_id': ObjectId('5c05e8db0ea05e6ae0cb5d65'), 'Title': 'Business Data Analyst', 'Company': ' GPM, Corp ', 'City': 'Asheville', 'State': 'NC', 'Designation': 'Data Analyst', 'Salary': '', 'Source': 'Glassdoor'}
{'_id': ObjectId('5c05e8db0ea05e6ae0cb5d66'), 'Title': 'Data Analyst, Media Measurement', 'Company': ' MarketSearch ', 'City': 'New York', 'State': 'NY', 'Designation': 'Data Analyst', 'Salary': ' $60k-$80k(Employer Est.)', 'Source': 'Glassdoor'}
{'_id': ObjectId('5c05e8db0ea05e6ae0cb5d67'), 'Title': 'APCD Data Analyst', 'Company': ' Freedman Healthcare ', 'City': 'Cranston', 'State': 'RI', 'Designation': 'Data Analyst', 'Salary': '', 'Source': 'Glassdoor'}
{'_id': ObjectId('5c05e8db0ea05e6ae0cb5d68'), 'Title': 'Data Analyst', 'Company': ' nference ', 'City': 'Cambridge', 'State': 'MA', 'Designation': 'Data Analyst', 'Salary': '', 'Source': 'Glassdoor'}
{'_id': ObjectId('5c05e8dc0ea05e6ae0cb5d69'), 'Title': 'Data Analyst', 'Company': ' Northwestern Mutual ', 'City': 'Milwaukee', 'State': 'WI', 'Designation': 'Data Analyst', 'Salary': ' $61k-$80k', 'Source': 'Glassdoor'}
{'_id': ObjectId('5c05e8dc0ea05e6ae0cb5d6a'), 'Title': 'Business Data Analyst', 'Company': ' Advance Financial ', 'City': 'Nashville', 'State': 'TN', 'Designation': 'Data Analyst', 'Salary': ' $45k-$65k', 'Source': 'Glassdoor'}
{'_id': ObjectId('5c05e8dc0ea05e6ae0cb5d6b'), 'Title': 'Data Analyst', 'Company': ' Brightree ', 'City': 'Lawrenceville', 'State': 'GA', 'Designation': 'Data Analyst', 'Salary': ' $54k-$73k', 'Source': 'Glassdoor'}
{'_id': ObjectId('5c05e8dc0ea05e6ae0cb5d6c'), 'Title': 'Business Intelligence Data Analyst', 'Company': ' Healthline Media ', 'City': 'San Francisco', 'State': 'CA', 'Designation': 'Data Analyst', 'Salary': ' $93k-$127k', 'Source': 'Glassdoor'}
{'_id': ObjectId('5c05e8dc0ea05e6ae0cb5d6d'), 'Title': 'Data Analyst SmartHealth', 'Company': ' Ascension ', 'City': 'Austin', 'State': 'TX', 'Designation': 'Data Analyst', 'Salary': ' $55k-$74k', 'Source': 'Glassdoor'}
{'_id': ObjectId('5c05e8dc0ea05e6ae0cb5d6e'), 'Title': 'Data Integration Analyst', 'Company': ' EAB ', 'City': 'Richmond', 'State': 'VA', 'Designation': 'Data Analyst', 'Salary': ' $47k-$73k', 'Source': 'Glassdoor'}
{'_id': ObjectId('5c05e8dc0ea05e6ae0cb5d6f'), 'Title': 'Junior Data Analyst', 'Company': ' IronEdge Group ', 'City': 'Houston', 'State': 'TX', 'Designation': 'Data Analyst', 'Salary': '', 'Source': 'Glassdoor'}
{'_id': ObjectId('5c05e8dc0ea05e6ae0cb5d70'), 'Title': 'Data Analyst', 'Company': ' Smith Hanley Associates ', 'City': 'Jupiter', 'State': 'FL', 'Designation': 'Data Analyst', 'Salary': '', 'Source': 'Glassdoor'}
{'_id': ObjectId('5c05e8dc0ea05e6ae0cb5d71'), 'Title': 'Data Analyst', 'Company': ' VanderHouwen ', 'City': 'Beaverton', 'State': 'OR', 'Designation': 'Data Analyst', 'Salary': '', 'Source': 'Glassdoor'}
{'_id': ObjectId('5c05e8dc0ea05e6ae0cb5d72'), 'Title': 'Data Analyst, Search', 'Company': ' ezCater ', 'City': 'Boston', 'State': 'MA', 'Designation': 'Data Analyst', 'Salary': ' $58k-$78k', 'Source': 'Glassdoor'}
{'_id': ObjectId('5c05e8dc0ea05e6ae0cb5d73'), 'Title': 'Data Analyst', 'Company': ' Pactera ', 'City': 'Redmond', 'State': 'WA', 'Designation': 'Data Analyst', 'Salary': ' $45k-$61k', 'Source': 'Glassdoor'}
{'_id': ObjectId('5c05e8dc0ea05e6ae0cb5d74'), 'Title': 'Data Analyst', 'Company': ' Hopper ', 'City': 'Cambridge', 'State': 'MA', 'Designation': 'Data Analyst', 'Salary': '', 'Source': 'Glassdoor'}
{'_id': ObjectId('5c05e8dc0ea05e6ae0cb5d75'), 'Title': 'Data Analyst', 'Company': ' Urban Airship ', 'City': 'Portland', 'State': 'OR', 'Designation': 'Data Analyst', 'Salary': ' $62k-$85k', 'Source': 'Glassdoor'}
{'_id': ObjectId('5c05e8dc0ea05e6ae0cb5d76'), 'Title': 'Data Analyst', 'Company': ' Facing History and Ourselves, Inc ', 'City': 'Brookline', 'State': 'MA', 'Designation': 'Data Analyst', 'Salary': ' $51k-$70k', 'Source': 'Glassdoor'}
{'_id': ObjectId('5c05e8dc0ea05e6ae0cb5d77'), 'Title': 'Data Analyst', 'Company': ' First Republic Bank ', 'City': 'San Francisco', 'State': 'CA', 'Designation': 'Data Analyst', 'Salary': ' $72k-$95k', 'Source': 'Glassdoor'}
{'_id': ObjectId('5c05e8dc0ea05e6ae0cb5d78'), 'Title': 'Data Analyst', 'Company': ' NCSA - Next College Student Athlete ', 'City': 'Chicago', 'State': 'IL', 'Designation': 'Data Analyst', 'Salary': ' $53k-$72k', 'Source': 'Glassdoor'}
{'_id': ObjectId('5c05e8dc0ea05e6ae0cb5d79'), 'Title': 'Analyst, Data Analytics', 'Company': ' CMI Media LLC ', 'City': 'New York', 'State': 'NY', 'Designation': 'Data Analyst', 'Salary': '', 'Source': 'Glassdoor'}
{'_id': ObjectId('5c05e8dc0ea05e6ae0cb5d7a'), 'Title': 'Data/ Strategic Analyst', 'Company': ' Convergent ', 'City': 'Houston', 'State': 'TX', 'Designation': 'Data Analyst', 'Salary': '', 'Source': 'Glassdoor'}
{'_id': ObjectId('5c05e8dc0ea05e6ae0cb5d7b'), 'Title': 'Data Analyst', 'Company': ' Fareportal Inc. ', 'City': 'New York', 'State': 'NY', 'Designation': 'Data Analyst', 'Salary': ' $58k-$80k', 'Source': 'Glassdoor'}
{'_id': ObjectId('5c05e8dc0ea05e6ae0cb5d7c'), 'Title': 'Provider Network Data Analyst', 'Company': ' Affinity Health Plan ', 'City': 'Bronx', 'State': 'NY', 'Designation': 'Data Analyst', 'Salary': ' $58k-$79k', 'Source': 'Glassdoor'}
{'_id': ObjectId('5c05e8dc0ea05e6ae0cb5d7d'), 'Title': 'Data Support & Solutions Analyst', 'Company': ' Remedy Partners ', 'City': 'Norwalk', 'State': 'CT', 'Designation': 'Data Analyst', 'Salary': '', 'Source': 'Glassdoor'}